/*Gherany*/

/*Sebastian*/

<article>
    <p>Casa de Arte. Una organización cultural de carácter civil, privada, con personalidad jurídica, patrimonio propio y sin fines de lucro. Un punto de encuentro para mentes creativas, Casa de Arte se encuentra en el centro histórico de la ciudad de Santiago De Los Caballeros en una renovada casa victoriana. La galería va rotando sus exposiciones de artistas dominicanos, y a menudo ofrece música en vivo o actuaciones teatrales por las noches. Relájate en su agradable patio después de ver las exhibiciones.</p>p
    <p>Allí la expresión del arte en diversidad y libertad tiene su espacio ideal. Llegó a la vida el verano de 1893, fundada por un grupo de jóvenes artistas y distinguidos ciudadanos interesados en promover la cultura en todas sus manifestaciones.</p>
    <p>En general, Casa de Arte nace para impulsar los artistas alternativos y emergentes de la región y el país. Por esa razón en el ámbito del movimiento cultural y artístico dominicano  se le conoce como ”La Casa de los Artistas“, en donde confluyen todos y todas con el ánimo y el deseo de aportar a la identidad cultural de la República Dominicana.Encontrada en el centro histórico de Santiago de Los Caballeros, esta galería se especializa en el arte dominicano y sirve como un punto de encuentro para impulsar los artistas alternativos y emergentes de la región.</p>
    <p>Al propio tiempo, es con frecuencia escenario de conciertos, ensayos y montajes de obras teatrales, talleres literarios, actos de puesta en circulación de libros, así como exposiciones individuales y colectivas de pintura, dibujo y fotografía. Las exposiciones de artes plásticas, teatrales, de danza, talleres y conferencias comenzaron a crear la activa dinámica de gestión y animación cultural en el seno de la institución para elevar el espíritu creativo y participativo de los nuevos y establecidos talentos artísticos de la ciudad y el país. Para el deleite y disfrute del público de la ciudad corazón, la región y el país.</p>



</article>

/*Sarah*/

/*Sofia*/

/*Junior*/